<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Рисование графика</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
</head>
<body>
    <div id="function-graph" style="height: 500px;"></div>
    <button onclick="getPoints()">Получить точки</button>
    <button onclick="clearGraph()">Очистить график</button>
    <div id="output-container" class="output"></div>
    <script src="/static/js/script.js"></script>
</body>
</html>