<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Рисование графика функции</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css"/>
</head>
<body>
    <div class="container">
        <h1>Рисование графика функции</h1>
        <div>
            <div id="function-graph" style="height: 500px;"></div>
            <button class="button" onclick="getPoints()">Получить точки</button>
            <button class="button" onclick="clearGraph()">Очистить график</button>
            <div id="output-container" class="output"></div>
        </div>
    </div>
    <script src="/static/js/script.js"></script>
</body>
</html>
